<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="/">
            Trang Chủ
          </a>
        </li>
        <li>
          <a href="#">
            Giới Thiệu
          </a>
        </li>
        <li>
          <a href="#">
            Ngân Hàng Á Châu
          </a>
        </li>        
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, được phát triển bởi <i class="material-icons">favorite</i>
      <a href="/admin" target="_blank">Đặng Long Đế</a>. BP.Giám Sát Vận Hành ATM
    </div>
  </div>
</footer>