<footer class="footer">
    <div class="container">
        <div class="copyright float-left">
        <a href="/">
            QUẢN LÝ SỐ LIỆU VẬN HÀNH HỆ THỐNG ATM NGÂN HÀNG ACB
        </a>  
        </div>
        <div class="copyright float-right">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>, BỘ PHẬN GIÁM SÁT VẬN HÀNH <i class="material-icons">favorite</i> PHÁT TRIỂN BỞI
        <a href="#" target="_blank">ĐẶNG LONG ĐẾ</a>.
        </div>
    </div>
</footer>