{% extends 'layouts/base.html' %}

{% block title %}
    Blog
{% endblock title %}

{% block content %}
    <h4>Xin chào đây là trang Blog</h4>
    <a href="{% url 'post-create' %}" class="btn btn-info btn-round">Bài Viết Mới </a>
    
    {% for post in posts %}
        <div class="card bg-info">
            <div class="card-body ">
                <h6 class="card-category">
                    <i class="material-icons">trending_up</i> Blog
                </h6>
                <h4 class="card-title">
                    <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                </h4>
            </div>
            <div class="card-footer ">
                <div class="author">
                    <a href="{{ post.author.profile.image.url }}">
                    <img src="{{ post.author.profile.image.url }}" alt="..." class="avatar img-raised" rel="nofollow">
                    <span>{{ post.author }}</span>
                    </a>
                </div>
                <div class="stats ml-auto">
                    <i class="material-icons">favorite</i>{{ post.date_posted|date:"F d, Y" }} đasads
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

