{% extends 'layouts/base_account.html' %}

{% block title_account %} Đăng Nhập {% endblock title_account %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content_account %}
  <div class="wrapper wrapper-full-page">
    <div class="page-header login-page header-filter" data-color="blue" filter-color="black" style="background-image: url('../../static/assets/img/cover.jpg'); background-size: cover; background-position: top center;">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
            <form class="form" method="POST" action="">
              {% csrf_token %}  
              <div class="card card-login card-hidden">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">ĐỔI MẬT KHẨU</h4>                 
                </div>
                <div class="card-body ">
                  <!-- <p class="card-description text-center">Or Be Classical</p>-->
                  <h6 class="card-description text-center">
                    {% if msg %}
                      <span class="text-danger">{{ msg }}</span>
                    {% endif %}  
                  </h6>       
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>                      
                      <input type="password" class="form-control" name="old_password" placeholder="Mật khẩu cũ...">
                      <span class="text-danger">{{ form.old_password.errors }}</span> 
                    </div>
                  </span>
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>                      
                      <input type="password" class="form-control" name="new_password1" placeholder="Mật khẩu mới...">
                      <span class="text-danger">{{ form.new_password1.errors }}</span> 
                    </div>
                  </span>
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">lock_outline</i>
                        </span>
                      </div>                      
                      <input type="password" class="form-control" name="new_password2" placeholder="Nhập lại mật khẩu...">
                      <span class="text-danger">{{ form.new_password2.errors }}</span> 
                    </div>
                  </span>
                  
                </div>
                <div class="card-footer justify-content-center">
                  <button type="submit" name="login" class="btn btn-info">Đổi Mật Khẩu</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      {% include 'includes/footer_account.html' %}
    </div>
  </div>
{% endblock content_account %}